In [1]:
import pandas as pd
import plotly.express as px
import streamlit as st

In [2]:
#Armazenando os dataframes em variáveis

dados_europa = pd.read_csv(r'C:\Users\madki\dashboard-sprint-5\Europe.csv')
dados_india = pd.read_csv(r'C:\Users\madki\dashboard-sprint-5\India.csv')
dados_filipinas = pd.read_csv(r'C:\Users\madki\dashboard-sprint-5\Philippines.csv')
dados_eua = pd.read_csv(r'C:\Users\madki\dashboard-sprint-5\United_States.csv')

In [3]:
# Visualizando o dataframe dos dados da Europa

dados_europa.head()

   Rank        Company      Industry  Revenue(US$ billions)    Headquarters
0     1     Volkswagen    Automotive                348.408         Germany
1     2          Shell   Oil and gas                323.183  United Kingdom
2     3  TotalEnergies   Oil and gas                218.945          France
3     4       Glencore  Conglomerate                217.829     Switzerland
4     5             BP   Oil and gas                213.032  United Kingdom

In [4]:
#Visualizando as informações dos dados da Europa

dados_europa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   100 non-null    int64
 1   Company                100 non-null    object
 2   Industry               100 non-null    object
 3   Revenue(US$ billions)  100 non-null    float64
 4   Headquarters           100 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB

In [5]:
#Visualizando as números dos dados da Europa

dados_europa.describe()

             Rank  Revenue(US$ billions)
count  100.000000             100.000000
mean    50.500000              82.062070
std     29.011492              54.239724
min      1.000000              35.799000
25%     25.750000              49.783750
50%     50.500000              63.576500
75%     75.250000              93.191500
max    100.000000             348.408000

In [6]:
#Visualizando os dados da India

dados_india.head()

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,1,49,Reliance Industries Limited,Mumbai,108.8,8.4,210.5,233.1,Conglomerate
1,2,55,State Bank of India,Mumbai,71.8,8.1,807.4,87.6,Banking
2,3,65,HDFC Bank,Mumbai,49.3,7.7,483.2,133.6,Banking
3,4,70,Life Insurance Corporation,New Delhi,98.0,4.9,561.4,73.6,Insurance
4,5,142,ICICI Bank,Mumbai,28.5,5.3,283.5,95.3,Banking

In [7]:
#Visualizando as informações dos dados da India

dados_india.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   71 non-null     int64
 1   Forbes 2000 rank       71 non-null     int64
 2   Name                   71 non-null     object
 3   Headquarters           71 non-null     object
 4   Revenue(billions US$)  71 non-null     float64
 5   Profit(billions US$)   71 non-null     object
 6   Assets(billions US$)   71 non-null     float64
 7   Value(billions US$)    71 non-null     float64
 8   Industry               71 non-null     object
dtypes: float64(3), int64(2), object(4)
memory usage: 5.1+ KB

In [8]:
#Visualizando os números dos dados da India

dados_india.describe()

,Rank,Forbes 2000 rank,Revenue(billions US$),Assets(billions US$),Value(billions US$)
count,71.000000,71.000000,71.000000,71.000000,71.000000
mean,35.408451,1048.267606,17.812676,71.621127,33.588732
std,19.920971,608.968729,23.347499,132.730041,37.901853
min,1.000000,49.000000,0.200000,1.300000,1.100000
25%,18.500000,535.000000,4.150000,10.550000,12.000000
50%,36.000000,947.000000,10.800000,27.400000,23.600000
75%,51.500000,1695.000000,17.750000,58.200000,39.000000
max,69.000000,1980.000000,108.800000,807.400000,233.100000

In [9]:
#Visualizando os dados das Filipinas

dados_filipinas.head()

,Rank,Name,Industry,Revenue(USD millions),Profits(USD millions),Employees,Headquarters
0,1,San Miguel Corporation,Conglomerate,"26,024",4,"53,184",Mandaluyong
1,2,SM Investments,Conglomerate,"10,277","1,385","72,770",Pasay
2,3,Manila Electric,Utilities,"7,980",684,"14,494",Pasig
3,4,JG Summit Holdings,Conglomerate,"5,932",361,"25,979",Pasig
4,5,Banco de Oro,Banking,"5,832","1,321","41,647",Mandaluyong

In [10]:
#Visualizando as informações dos dados das Filipinas

dados_filipinas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   25 non-null     int64
 1   Name                   25 non-null     object
 2   Industry               25 non-null     object
 3   Revenue(USD millions)  25 non-null     object
 4   Profits(USD millions)  25 non-null     object
 5   Employees              25 non-null     object
 6   Headquarters           25 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.5+ KB

In [11]:
#Visualizando os números dos dados das Filipinas

dados_filipinas.describe()

            Rank
count  25.000000
mean   13.000000
std     7.359801
min     1.000000
25%     7.000000
50%    13.000000
75%    19.000000
max    25.000000

In [12]:
#Visualizando os dados dos Estados Unidos
dados_eua.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"680,985",5.1%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"637,959",11.0%,"1,556,000","Seattle, Washington"
2,3,UnitedHealth Group,Healthcare,"400,278",7.7%,"400,000","Minnetonka, Minnesota"
3,4,Apple,Electronics industry,"391,035",2.0%,"164,000","Cupertino, California"
4,5,CVS Health,Healthcare,"372,809",4.2%,"259,500","Woonsocket, Rhode Island"

In [13]:
#Visualizando as informações dos Estados Unidos
dados_eua.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    100 non-null    int64
 1   Name                    100 non-null    object
 2   Industry                100 non-null    object
 3   Revenue (USD millions)  100 non-null    object
 4   Revenue growth          100 non-null    object
 5   Employees               100 non-null    object
 6   Headquarters            100 non-null    object
dtypes: int64(1), object(6)
memory usage: 5.6+ KB

In [14]:
#Visualizando os números dos Estados Unidos
dados_eua.describe()

             Rank
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [15]:
#Renomeando a coluna "Revenue growth"
dados_eua = dados_eua.rename(columns={'Revenue growth': 'Revenue growth (%)'})
dados_eua.columns

Index(['Rank', 'Name', 'Industry', 'Revenue (USD millions)',
       'Revenue growth (%)', 'Employees', 'Headquarters'],
      dtype='object')

In [16]:
#Alterando o tipo da coluna 'Profit(billions US$) de object para float'

dados_india['Profit(billions US$)'][30] = -0.4
dados_india['Profit(billions US$)'] = pd.to_numeric(dados_india['Profit(billions US$)'])
dados_india.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   71 non-null     int64
 1   Forbes 2000 rank       71 non-null     int64
 2   Name                   71 non-null     object
 3   Headquarters           71 non-null     object
 4   Revenue(billions US$)  71 non-null     float64
 5   Profit(billions US$)   71 non-null     float64
 6   Assets(billions US$)   71 non-null     float64
 7   Value(billions US$)    71 non-null     float64
 8   Industry               71 non-null     object
dtypes: float64(4), int64(2), object(3)
memory usage: 5.1+ KB

C:\Users\madki\AppData\Local\Temp\ipykernel_28192\3121018370.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dados_india['Profit(billions US$)'][30] = -0.4
C:\Users\madki\AppData\Local\Temp\ipykernel_28192\3121018370.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_india['Profit(billions US$)'][30] = -0.4

In [17]:
#Alterando os dados de um índice para conseguir converter a coluna no dataframe dos dados das Filipinas
dados_filipinas['Profits(USD millions)'][24] = '12'

C:\Users\madki\AppData\Local\Temp\ipykernel_28192\3777969059.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dados_filipinas['Profits(USD millions)'][24] = '12'
C:\Users\madki\AppData\Local\Temp\ipykernel_28192\3777969059.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_filipinas['Profits(USD millions)'][24] = '12'

In [18]:
# Alterando o tipo das colunas do dataframe das Filipinas

dados_filipinas['Revenue(USD millions)'] = (dados_filipinas['Revenue(USD millions)'].str.replace(",", ".").astype(float))
dados_filipinas['Profits(USD millions)'] = (dados_filipinas['Profits(USD millions)'].str.replace(",", ".").astype(float))
dados_filipinas['Employees'] = (dados_filipinas['Employees'].str.replace(",", "").astype(float))

dados_filipinas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   25 non-null     int64
 1   Name                   25 non-null     object
 2   Industry               25 non-null     object
 3   Revenue(USD millions)  25 non-null     float64
 4   Profits(USD millions)  25 non-null     float64
 5   Employees              25 non-null     float64
 6   Headquarters           25 non-null     object
dtypes: float64(3), int64(1), object(3)
memory usage: 1.5+ KB

In [19]:
#Ajustando e depois convertendo as colunas que não eram do tipo certo
dados_eua['Revenue (USD millions)'] = pd.to_numeric(dados_eua['Revenue (USD millions)'].str.replace(",", ".").astype(float))
dados_eua['Revenue growth (%)'] = pd.to_numeric(dados_eua['Revenue growth (%)'].str.replace("%", "").astype(float))
dados_eua['Employees'] = dados_eua['Employees'].str.replace(",", ".")
dados_eua['Employees'] = dados_eua['Employees'].str.replace(".", "")
dados_eua['Employees'] = pd.to_numeric(dados_eua['Employees'].astype(float))

dados_eua.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth (%),Employees,Headquarters
0,1,Walmart,Retail,680.985,5.1,2100000.0,"Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,637.959,11.0,1556000.0,"Seattle, Washington"
2,3,UnitedHealth Group,Healthcare,400.278,7.7,400000.0,"Minnetonka, Minnesota"
3,4,Apple,Electronics industry,391.035,2.0,164000.0,"Cupertino, California"
4,5,CVS Health,Healthcare,372.809,4.2,259500.0,"Woonsocket, Rhode Island"

In [20]:
#Verificando se há duplicatas nos dataframes

print(dados_europa.duplicated().sum())
print(dados_india.duplicated().sum())
print(dados_filipinas.duplicated().sum())
print(dados_eua.duplicated().sum())

0
0
0
0

In [21]:
#Agrupando dados da Europa por país
receita_pais_europeu = (
    dados_europa
        .groupby(['Headquarters'])[['Revenue(US$ billions)']]
        .mean().reset_index()
)

receita_pais_europeu.sort_values(by='Revenue(US$ billions)', axis=0, ascending=True, inplace=True)
receita_pais_europeu.head()

   Headquarters  Revenue(US$ billions)
0       Austria              42.661000
2       Denmark              51.065000
13       Sweden              52.101000
1       Belgium              59.380000
12        Spain              61.845143

In [22]:
#Criando gráficos de dispersão dos dados dos países Europeus
fig = px.histogram(dados_europa, x='Revenue(US$ billions)', 
             title='Contagem de valores de receita das empresa européias em bilhões de US$', color_discrete_sequence=['indianred'])
fig.show()

In [23]:
#Ordenando os dados do dataframe da Índia para a criação do gráfico
dados_india.sort_values(by='Forbes 2000 rank', axis=0, ascending=False, inplace=True)
dados_india.head(10)

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
70,69,1980,ABB India,Bangalore,1.3,0.2,1.3,21.3,Capital goods
69,68,1957,NMDC,Hyderabad,2.5,0.8,3.9,9.7,Mining
68,67,1949,CIFCL,Chennai,2.3,0.4,18.8,13.0,Financials
67,66,1908,Varun Beverages,Gurgaon,2.0,0.3,1.8,23.6,Beverages
66,65,1895,Dr. Reddy's Laboratories,Hyderabad,3.4,0.7,4.6,11.6,Pharmaceuticals
65,64,1873,DLF,Gurgaon,0.8,0.3,7.2,25.2,Real estate
64,63,1869,Federal Bank,Kochi,3.2,0.5,38.1,4.8,Banking
63,62,1853,Steel Authority of India,New Delhi,12.9,0.4,15.6,8.3,Iron and steel
62,61,1848,Indus Towers,Gurgaon,3.5,0.7,6.7,11.1,Telecommunication
61,60,1842,Bank of Maharashtra,Pune,2.8,0.5,36.8,5.5,Banking

In [24]:
#Criando gráfico de dispersão Rank Forbes x Patrimônio em bilhões US$
fig = px.scatter(dados_india, x='Forbes 2000 rank', 
                 y='Assets(billions US$)', 
                 trendline='expanding', 
                 title='Patrimônio de empresas de acordo com o ranking da Forbes')
fig.show()

In [25]:
#Atribuindo os dados ordenados do dataframe das Filipinas para a criação do gráfico
dados_ordenados_filipinas = dados_filipinas.sort_values(by='Employees', axis=0, ascending=True)

dados_ordenados_filipinas.head()

,Rank,Name,Industry,Revenue(USD millions),Profits(USD millions),Employees,Headquarters
17,18,Lopez Holdings Corporation,Conglomerate,2.967,51.0,11.0,Mandaluyong
24,25,Monde Nissin,Food and beverage,1.442,12.0,1518.0,"Santa Rosa, Laguna"
16,17,PAL Holdings,Airline,3.222,302.0,5109.0,Pasay
23,24,Rizal Commercial Banking,Banking,1.487,220.0,6184.0,Makati
14,15,Globe Telecom,Telecommunications,3.241,441.0,7542.0,Taguig

In [29]:
#Criando um gráfico para comparar o lucro das empresas por n° de funcionários
fig = px.scatter(dados_ordenados_filipinas, x='Employees',
                   y='Profits(USD millions)', 
                   title='Lucro de empresas (por milhões de US$) pelo o número de funcionários (por mil)')
fig.show()

In [27]:
#Atribuindo os dados dos EUA em uma nova variável para a criação do gráfico
crescimento_industria_eua = (dados_eua.groupby(['Industry'])[['Revenue growth (%)']].sum().reset_index())
crescimento_industria_eua.sort_values(by='Revenue growth (%)', ascending=True, inplace=True)

In [30]:
#Criando o gráfico de área para comparar o crescimento entre empresas
fig = px.area(crescimento_industria_eua, x='Industry', y='Revenue growth (%)', title='Crescimento de receita das empresas estadunidenses por indústria')
fig.show()